---
title: FioraVillas
description: ''
villas:
  - name: jasmine 
    images: 
    - "1.jpg"
    - "10.jpg"
    - "11.jpg"
    - "12.jpg"
    - "13.jpg"
    - "14.jpg"
    - "15.jpg"
    - "16.jpg"
    - "17.jpg"
    - "18.jpg"
    - "19.jpg"
    - "2.jpg"
    - "20.jpg"
    - "21.jpg"
    - "22.jpg"
    - "23.jpg"
    - "24.jpg"
    - "25.jpg"
    - "26.jpg"
    - "27.jpg"
    - "28.jpg"
    - "29.jpg"
    - "3.jpg"
    - "30.JPG"
    - "31.jpg"
    - "32.jpg"
    - "4.jpg"
    - "5.jpg"
    - "6.jpg"
    - "7.jpg"
    - "8.jpg"
    - "9.jpg"
  - name: lillium
    images: 
    - "33.jpg"
    - "34.jpg"
    - "35.jpg"
    - "36.jpg"
    - "37.jpg"
    - "38.jpg"
    - "39.jpg"
    - "40.jpg"
    - "41.jpg"
    - "42.jpg"
    - "43.jpg"
    - "44.jpg"
    - "45.jpg"
    - "46.jpg"
    - "47.jpg"
    - "48.jpg"
    - "49.jpg"
    - "50.jpg"
    - "51.jpg"
    - "52.jpg"
    - "53.jpg"
    - "54.jpg"
    - "55.jpg"
    - "56.jpg"
    - "57.jpg"
    - "58.jpg"
    - "59.jpg"
    - "60.jpg"
  - name: lotus
    images: 
    - "61.jpg"
    - "62.jpg"
    - "63.jpg"
    - "64.jpg"
    - "65.jpg"
    - "66.jpg"
    - "67.jpg"
    - "68.jpg"
    - "69.jpg"
    - "70.jpg"
    - "71.jpg"
    - "72.jpg"
    - "73.jpg"
    - "74.jpg"
    - "75.jpg"
    - "76.jpg"
    - "77.jpg"
    - "78.jpg"
  - name: violleta
    images: 
    - "100.jpg"
    - "101.jpg"
    - "102.jpg"
    - "103.jpg"
    - "104.jpg"
    - "105.jpg"
    - "106.jpg"
    - "107.jpg"
    - "108.jpg"
    - "109.jpg"
    - "110.jpg"
    - "111.jpg"
    - "79.jpg"
    - "80.jpg"
    - "81.jpg"
    - "82.jpg"
    - "83.jpg"
    - "84.jpg"
    - "85.jpg"
    - "86.jpg"
    - "87.jpg"
    - "88.jpg"
    - "89.jpg"
    - "90.jpg"
    - "91.jpg"
    - "92.jpg"
    - "93.jpg"
    - "94.jpg"
    - "95.jpg"
    - "96.jpg"
    - "97.jpg"
    - "98.jpg"
    - "99.jpg"
---

doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')

    title #{title}

    // Favicon
    link(rel='icon' type='image/x-icon' href='assets/favicon.ico')

    // Bootstrap Icons
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' rel='stylesheet')

    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')

    // SimpleLightbox plugin CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css' rel='stylesheet')

    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css' rel='stylesheet')

  body#page-top

    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
      .container.px-4.px-lg-5
        a.navbar-brand(href='#page-top') #{title}
        button.navbar-toggler.navbar-toggler-right(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.my-2.my-lg-0
            li.nav-item
              a.nav-link(href='#villas') Villas
            li.nav-item
              a.nav-link(href='#contact') Contact

    // Masthead
    header.masthead
      .container.px-4.px-lg-5.h-100
        .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center
          .col-lg-8.align-self-end
            h1.text-white.font-weight-bold #{title}
            //- hr.divider
          .col-lg-8.align-self-baseline

            p.text-white-75.font-weight-light.mb-3
              | Once Kefalonia becomes your destination, it will be your island destination for life. Once you visit
              | Fiora villas and experience our warm hospitality, you will want to come back again and again.
            p.text-white-75.font-weight-light.mb-3
              | The location is unique! Fiora villas are located in the south part of Kefalonia, just 1,5 km from
              | Trapezaki beach, 8,5 km from kefalonian airport and 13 km from Argostoli, the capital of Kefalonia.
            p.text-white-75.font-weight-light.mb-3
              | This complex of eight elegant villas features well- appointed accommodation, with particular
              | attention to details. Each villa is 50 sq.m, except from villa Rose ,which is 100 sq.m .The villas
              | are built in a 5000 sq.m plot ,with parking, gardens and a sense of serenity .
            p.text-white-75.font-weight-light.mb-3
              | The villas consist of one double bedroom, two single beds in the living room, a fully equipped
              | kitchen, a bathroom and a private veranda with sea and mountain views.
            p.text-white-75.font-weight-light.mb-3
              | The villas are an ideal choice for families, friends and couples seeking relaxation, comfort and
              | also an enjoyable and unforgettable stay in the magnificent island of Kefalonia.

    // villas
    section#villas.page-section
      each villa in villas
        h2.mt-0.text-center #{villa.name}
        hr.divider
        .container
          each image in villa.images
            img.img-fluid.mb-4(src='/assets/villas/' + villa.name + '/' + image)
            
    // Contact
    section#contact.page-section.bg-dark.text-white
      .container
        .row.justify-content-center
          .col-lg-8.text-center
            h2.mt-0 Make your reservation
            hr.divider.my-4
            p.text-muted.mb-5 Contact us and we wil find the best bike that suits you
        .mx-auto(style='max-width: 600px;')
          .row
            .col-md-4.text-center.mb-5
              i.fas.fa-phone.fa-3x.mb-3.text-muted
              div +30 2671031532
            .col-md-4.text-center.mb-5
              i.fas.fa-mobile.fa-3x.mb-3.text-muted
              div +30 6947915511
            //- .col-md-4.text-center
            //-   i.fas.fa-envelope.fa-3x.mb-3.text-muted
            //-   a.d-block(href='mailto:info@fioravillas.gr') info@fioravillas.gr
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5279.062370359971!2d20.604536160958446!3d38.11811470253923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13676204c8e1ce73%3A0xa92b1072646a3a1!2sTrapezaki+beach!5e0!3m2!1sen!2sgr!4v1526130272209' width='100%' height='450' frameborder='0' style='border:0' allowfullscreen='')

    // Footer
    footer.bg-light.py-5
      .container.px-4.px-lg-5
        .small.text-center.text-muted
          | Copyright &copy; 2021 - #{title}

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

    // SimpleLightbox plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

    // Core theme JS
    script(src='js/scripts.js')

    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    // * *                               SB Forms JS                               * *
    // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  
    script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')